@import '../../../assets/css/sass/themes/theme';

.filter-select {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1px solid var(--text-medium);
  color: var(--text-medium);
  padding: 0.25rem 0.75rem;
  font-size: .76rem;
  line-height: 1.3;
  border-radius: 50px;
  outline: 0;
  box-shadow: none;
  white-space: nowrap;

  &:hover {
    color: var(--text-medium);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
}
