@import '../../../assets/css/sass/themes/theme';

.data-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--text-light);
  padding-bottom: 1rem;

  .filter-right {
    display: flex;
    align-items: center;

    ui-button {
      margin-right: 15px;

      &:last-child {
        margin: 0;
      }
    }
  }
}

.data-body {
  padding: 15px 0;
}

.products-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;

  .product {
    margin: 15px;
    width: calc(100% / 5 - 30px);
    border-radius: 0.75rem;
    box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);

    .image {
      width: 100%;
      height: 100%;
      max-height: 250px;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      border-radius: 0.75rem 0.75rem 0 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .3s;
      }
    }

    .product-body {
      width: 100%;
      background: var(--background-white);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2rem 1rem;
      border-radius: 0 0 0.75rem 0.75rem;

      h5 {
        font-size: 1rem;
      }

      span {
        font-size: 1.25rem;
        font-weight: 600;
        color: var(--primary-color);
      }
    }


    &:hover {
      .image {
        img {
          transform: scale(1.15);
        }
      }
    }

    &.active {
      box-shadow: 0 3px 30px rgb(0 0 0 / 15%), 0 3px 20px rgb(0 0 0 / 15%);
    }
  }
}


@media only screen and (max-width: 1600px) {
  .products-list {
    .product {
      width: calc(100% / 4 - 30px);
    }
  }
}

@media only screen and (max-width: 1366px) {
  .products-list {
    .product {
      width: calc(100% / 3 - 30px);
    }
  }
}

@media only screen and (max-width: 1024px) {
  .products-list {
    .product {
      width: calc(100% / 2 - 30px);
    }
  }
}
