.light-mode {
  --primary-color: #900604;
  --primary-hover: #680403;
  --secondary-color: #e7284a;
  --secondary-hover: #cf1738;
  --success-color: #28a745;
  --success-hover: #218838;
  --warning-color: #b69329;
  --warning-hover: #e0a800;
  --danger-color: #dc3545;
  --danger-hover: #c82333;
  --light-color: #ececec;
  --light-hover: #f0f0f0;
  --white-color: #fff;
  --background-soft: #f8f8f8;
  --background-white: #fff;
  --text-black: #000;
  --text-white: #fff;
  --text-light: #d0d0d0;
  --text-dark: #131113;
  --text-medium: #8f8f8f;
  --text-menu: #3a3a3a;
  --border-light: #f3f3f3;
  --border-dark: #d7d7d7;
}

.dark-mode {
  --primary-color: #913a47;
  --primary-hover: #680403;
  --secondary-color: #e7284a;
  --secondary-hover: #cf1738;
  --success-color: #28a745;
  --success-hover: #218838;
  --warning-color: #b69329;
  --warning-hover: #e0a800;
  --danger-color: #dc3545;
  --danger-hover: #c82333;
  --light-color: #1b1919;
  --light-hover: #131212;
  --white-color: #fff;
  --background-soft: #1b1919;
  --background-white: #222020;
  --text-black: #000;
  --text-white: #fff;
  --text-light: #424242;
  --text-dark: #707070;
  --text-medium: #8f8f8f;
  --text-menu: #8f8f8f;
  --border-light: hsla(0, 0%, 56.1%, .15);
  --border-dark: #d7d7d7;
}
