@import '../../../assets/css/sass/themes/theme';

.action-button {
  background: transparent;
  border: 0;
  box-shadow: none;
  margin: 0;
  outline: 0;
  display: flex;
  padding: 10px;

  icon {
    ::ng-deep svg {
      width: 16px;
      max-height: 20px;
      fill: var(--text-medium);
      transition: all .15s;
    }
  }

  &:hover {
    icon {
      ::ng-deep svg {
        fill: var(--primary-color);
      }
    }
  }
}
